<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  {{ form_errors(form) }}

  <div class="form-group">
    <div class="row">
    {{ form_label(form.Name, "Nom", {'label_attr': {'class': 'col-md-10 col-md-offset-1'}}) }}
    {{ form_errors(form.Name) }}
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
          {{ form_widget(form.Name, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {{ form_widget(form.Sauvegarder, {'attr': {'class': 'btn btn-default'}}) }}
      </div>
    </div>
  </div>
  {{ form_rest(form) }}
  {{ form_end(form) }}
</div>
