{# src/notesBundle/Resources/views/Notes/listCategory.html.twig #}

{% extends "notesBundle::layout.html.twig" %}

{% block title %}
  Categories - {{ parent() }}
{% endblock %}

{% block title_body %}
    Liste des catégories
{% endblock %}


{% block content_body %}
<div class="row">
    <a href="{{ path('category_create') }}" class="btn btn-primary">Ajouter une categorie</a>
</div>
<div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Editer</th>
          <th>Supprimer</th>
        <tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ category.id }}</td>
          <td>{{ category.Name }}</td>
          <td><a href="{{ path('category_edit', {'id': category.id }) }}">Modifier</a></td>
          <td><a href="{{ path('category_delete', {'id': category.id }) }}">Supprimer</a></td>
        </tr>
        {% else %}
          <h3>Pas de catégorie ajoutée!</h3>
        {% endfor %}
      </tbody>

    </table>
      <br><br>
      <ul class="list-inline">
        <li><a href="{{ path('notes_index') }}">Retour à la liste des notes</a></li>
      </ul>
  </div>
  <hr><br>
</div>
{% endblock %}


{% block notes_body %}

  <ul>

  </ul>

{% endblock %}
